/* Strat Global Rules */
:root {
  --main-color: #2196f3;
  --alt-main-color: #1787e0;
  --light-color: #fff;
  --main-transition: 0.3s;
  --section-padding: 100px;
  --section-background: #ececec;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  position: relative;
  margin: 0px auto 80px;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 20px;
  z-index: 1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  text-transform: uppercase;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.main-title::after {
  right: -30px;
}
.main-title::before {
  left: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-fill var(--main-transition) linear forwards;
  -webkit-animation: left-fill var(--main-transition) linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-fill var(--main-transition) linear forwards;
  -webkit-animation: right-fill var(--main-transition) linear forwards;
}
.main-title:hover {
  color: var(--light-color);
  border-color: var(--light-color);
  transition-delay: var(--main-transition);
}
/* End Global Rules */
/* Start Header */
header {
  background-color: var(--light-color);
  box-shadow: 0 0 10px #ddd;
  position: relative;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
header .container a.logo {
  color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container ul.nav {
  display: flex;
}
header .nav > li:hover .mega-menu {
  top: calc(100% + 1px);
  opacity: 1;
  z-index: 100;
}
@media (max-width: 767px) {
  header .container a.logo {
    width: 100%;
    height: 45px;
  }
  header .container ul.nav {
    margin: auto;
  }
}
header .container ul.nav > li > a {
  color: black;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  position: relative;
  overflow: hidden;
  height: 72px;
  display: flex;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header .container ul.nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
header .container ul.nav > li > a::before {
  content: "";
  width: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  height: 4px;
  background-color: var(--main-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
header .container ul.nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
header .container ul.nav > li > a:hover::before {
  left: 0;
}
header .container > i {
  display: none;
}
header .mega-menu {
  display: flex;
  gap: 40px;
  position: absolute;
  background-color: var(--light-color);
  border-bottom: 3px solid var(--main-color);
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 100%;
  padding: 30px;
  top: calc(100% + 50px);
  transition: top var(--main-transition), opacity var(--main-transition);
  -webkit-transition: top var(--main-transition), opacity var(--main-transition);
  -moz-transition: top var(--main-transition), opacity var(--main-transition);
  -ms-transition: top var(--main-transition), opacity var(--main-transition);
  -o-transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  header .mega-menu .image {
    display: none;
  }
}
header .mega-menu .links {
  min-width: 240px;
  flex: 1;
}
header .mega-menu .links li {
  position: relative;
}
header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
header .mega-menu .links li::before {
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
  left: 0;
  transition: var(--main-transition);
  background-color: #fafafa;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
header .mega-menu .links li:hover::before {
  width: 100%;
}
header .mega-menu .links li a {
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  display: block;
  padding: 15px;
}
header .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  transform: skewY(-6deg);
  transform-origin: top left;
  background-color: #ececec;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  z-index: -1;
}
.landing .container {
  display: flex;
  padding-bottom: 120px;
  align-items: center;
  min-height: calc(100vh - 72px);
  position: relative;
}
.landing .container .text {
  flex: 1;
}
.landing .container .text h1 {
  letter-spacing: -2px;
  font-size: 40px;
}
.landing .container .text p {
  line-height: 1.7;
  font-size: 24px;
  margin-top: 5px;
  color: #666;
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 28px;
  }
  .landing .container .text p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
  .landing .container .text {
    text-align: center;
  }
  .landing .container .text p {
    margin: 10px auto;
  }
}
.landing .container .image img {
  width: 600px;
  position: relative;
  animation: up-and-down 5s linear infinite;
  -webkit-animation: up-and-down 5s linear infinite;
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--alt-main-color);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
  -webkit-animation: bouncing 1.5s infinite;
}
/* End Landing */
/* Start Articles */
.articles {
  padding-block: var(--section-padding);
  position: relative;
}
.articles::before {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  bottom: 0;
  z-index: 10;
  display: block;
  height: 35px;
  background-size: 35px;
  background-image: linear-gradient(
      135deg,
      var(--section-background) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, var(--section-background) 25%, transparent 25%);
  background-position: 0 0;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0 2px 15px rgb(0, 0, 0, 10%);
  background-color: var(--light-color);
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -webkit-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -moz-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -ms-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -o-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0, 0, 0, 20%);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.articles .container .box img {
  max-width: 100%;
}
.articles .container .box .text-box {
  padding: 15px;
}
.articles .container .box .text-box h4 {
  margin-bottom: 10px;
  font-size: 18px;
}
.articles .container .box .text-box p {
  color: #777;
  margin-bottom: 10px;
  line-height: 1.5;
}
.articles .container .box .info {
  padding: 15px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .container .box .info a {
  font-weight: bold;
  color: var(--main-color);
}
.articles .container .box .info i {
  color: var(--main-color);
}
.articles .container .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
  -webkit-animation: moving-arrow 0.6s linear infinite;
}
/* End Articles */
/* Start Gallery */
.gallery {
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  position: relative;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .box {
  padding: 15px;
  background-color: var(--light-color);
  box-shadow: 0px 12px 20px 0px rgb(0, 0, 0, 13%),
    0px 2px 4px 0px rgb(0, 0, 0, 12%);
}
.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .container .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgb(255, 255, 255, 20%);
  z-index: 2;
}
.gallery .container .box .image:hover::before {
  animation: flashing 0.7s;
  -webkit-animation: flashing 0.7s;
}
.gallery .container img {
  max-width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.gallery .container .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
  -webkit-transform: rotate(5deg) scale(1.1);
  -moz-transform: rotate(5deg) scale(1.1);
  -ms-transform: rotate(5deg) scale(1.1);
  -o-transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Features */
.features {
  padding-block: var(--section-padding);
  position: relative;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  border: 1px solid #ccc;
  text-align: center;
}
.features .container .box .image-holder {
  position: relative;
  overflow: hidden;
}
.features .container .box .image-holder::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: -1px;
}
.features .container .box .image-holder::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  border-style: solid;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features .container .box:hover .image-holder::after {
  border-width: 170px 500px 170px 0px;
}
.features .container .box .image-holder img {
  max-width: 100%;
}
.features .container .box h2 {
  position: relative;
  font-size: 40px;
  margin: 20px auto;
  width: fit-content;
  padding-bottom: 20px;
}
.features .container .box h2::before {
  position: absolute;
  content: "";
  width: calc(100% - 30px);
  bottom: 0;
  height: 4px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.features .container .box p {
  margin: 10px 0;
  color: #aeaeae;
  padding: 20px;
  line-height: 2;
  text-align: center;
  font-size: 20px;
}
.features .container .box a {
  display: block;
  margin: 20px auto;
  font-weight: bold;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  font-size: 24px;
}
.features .quality a {
  color: #f44036;
  border: 3px solid #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time a {
  color: #009688;
  border: 3px solid #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion a {
  color: #03a9f4;
  border: 3px solid #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .box:hover a {
  background-position: left bottom;
  color: white;
}
.features .container .quality h2::before {
  background-color: #f44036;
}
.features .container .time h2::before {
  background-color: #009688;
}
.features .container .passion h2::before {
  background-color: #03a9f4;
}
.features .container .quality .image-holder::before {
  background-color: rgb(244 64 54 / 0.6);
}
.features .container .time .image-holder::before {
  background-color: rgb(0 150 136 / 0.6);
}
.features .container .passion .image-holder::before {
  background-color: rgb(3 169 244 / 0.6);
}
/* End Features */
/* Start Testimonials */
.testimonails {
  padding-block: var(--section-padding);
  background-color: var(--section-background);
  position: relative;
}
.testimonails .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonails .container .card {
  position: relative;
  padding: 20px;
  background-color: var(--light-color);
  box-shadow: 0 2px 4px rgb(0, 0, 0, 7%);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.testimonails .container .card img {
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  right: -10px;
  top: -50px;
  box-shadow: 0 0 0 10px var(--section-background);
}
.testimonails .container .card h3 {
  margin: 0 0 10px;
}
.testimonails .container .card .title {
  color: #777;
  margin-bottom: 10px;
  display: block;
}
.testimonails .container .card .stars {
  margin-bottom: 10px;
}
.testimonails .container .card .stars .filled {
  color: #ffc107;
}
.testimonails .container .card p {
  line-height: 1.6;
  color: #777;
}
/* End Testimonoials */
/* Start Team Members  */
.team {
  padding-block: var(--section-padding);
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .container .card {
  position: relative;
  transition: var(--main-transition);
}
.team .container .card::before,
.team .container .card::after {
  content: "";
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #f3f3f3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.team .container .card::before {
  z-index: -2;
  width: calc(100% - 60px);
}
.team .container .card::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .container .card:hover::after {
  width: calc(100% - 60px);
}
.team .container .card .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .container .card .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.team .container .card:hover .data img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.team .container .card .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team .container .card .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.team .container .card .data .social a i {
  color: #777;
}
.team .container .card .data .social a:hover i {
  color: var(--main-color);
}
.team .container .card .info {
  padding-left: 80px;
}
.team .container .card .info h3 {
  margin: 20px 0 0;
  color: var(--main-color);
  transition: var(--main-transition);
  font-size: 22px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.team .container .card:hover .info h3 {
  color: #777;
}
.team .container .card .info p {
  margin: 20px 0 25px;
}
/* End Team Members  */
/* Start Services */
.services {
  padding-block: var(--section-padding);
  background-color: var(--section-background);
  position: relative;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  background-color: var(--light-color);
  box-shadow: 0 12px 20px 0 rgb(0, 0, 0, 13%), 0 2px 4px 0 rgb(0, 0, 0, 12%);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.services .box::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  top: -3px;
  background-color: var(--main-color);
  position: absolute;
  width: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.services .box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.services .box:hover::before {
  width: 100%;
}
.services .box > i {
  display: block;
  margin: 40px auto 20px;
  color: #d5d5d5;
  text-align: center;
}
.services .box > h3 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--main-color);
}
.services .box .info {
  padding: 15px;
  position: relative;
  text-align: right;
  background-color: #f9f9f9;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: var(--light-color);
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  width: 50px;
  left: 80px;
  height: 100%;
  transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
}
.services .box .info a {
  color: var(--main-color);
}
/* End Services */
/* Start Skills */
.skills {
  padding-block: var(--section-padding);
  position: relative;
}
.skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .skills img {
    display: none;
  }
  .skills .container {
    justify-content: center;
  }
}
.skills .container .skills-holder {
  flex: 1;
}
.skills .container .skills-holder .skill {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 30px;
}
.skills .skills-holder .skill h3 {
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
}
.skills .skills-holder .skill h3 > span {
  color: var(--main-color);
  position: absolute;
  right: 0;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 12px;
}
.skills .skills-holder .skill .the-progress {
  width: 100%;
  height: 30px;
  background-color: #eee;
}
.skills .skills-holder .skill .the-progress span {
  background-color: var(--main-color);
  height: 100%;
  display: block;
}
/* End Skills */
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
}
@keyframes left-fill {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 55%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes right-fill {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Animation */
